.weather-details {
  display: flex;
  flex-direction: column;
  background: var(--clr-navyDark);
  min-height: 100vh;
  color: #ffffff;
  background: #100e1d;
}

.weather-wrapper {
  background: blue;
  max-width: 750px;
  margin: 0 auto;
}

.main {
  &-article {
    display: grid;
    grid-template-columns: unset;
  }
  @media (min-width: 70em) {
    .weather-details {
      padding: 0 2rem;
    }
    &-article {
      display: grid;
      grid-template-columns: 0fr 1fr;
    }
  }
  @media (min-width: 90em) {
    .weather-details {
      padding: 0 10rem;
    }
  }
}
